
.home-container{
    width:65%;
    margin:auto;
}

.home__heading{
    background-color: $purple;
}

.home__description{
    color:$off-white;
    font-size:2rem;
}

.home__description__container{
    width:80%;
    margin:auto;
}